[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ensembleTax"]
	path = ensembleTax
	url = https://github.com/dcat4/ensembletax
